{{#main_item}}
    <div id="side_navigation_container">
    
        <h4><a href="">{{main_item}}</a></h4>
        <ul id="side_navigation" class="main-page-navigation">
            {{#sub_item}} <li><a href='../{{link}}'>{{title}}</a></li> {{/sub_item}}
        </ul><!--/ side_navigation --> 
                             
    </div><!--/ side-navigation-container -->
{{/main_item}}