<div id="postscript_footer_container">
    <!--postscript-->
    <div id="postscript">
        <div id="postscript_container" class="postscript-container">

	        {{#footer_title}}
			<div class="postscript-block">
			    <div class="inner-block">  
			        <h2><a href='../{{main_item_link}}'>{{main_item}}</a><br></h2>
			    </div><!-- /inner-block -->
			</div><!-- /postscript_block_1 -->
			{{/footer_title}}

        </div><!-- /postscript_container -->
    </div>
    <!--footer-->
    <div class = "footer-container">
        <div class = "footer-container-logo">
            <img src = "../imgs/footer-logo.jpg" alt = "BandLuxe" />
        </div>
        <div class = "footer-container-copyright">2013 BandRich Inc.All Rights Reserved.</div>
        <div class = "footer-container-trade-mark">LTE is a trade mark of ETSI.</div>
    </div><!-- / footer -->
</div><!--/ postscript_footer_container -->