#qanda_select {
    margin-bottom: 30px;
}

.qanda_Category-container {
	display: none;
    border-top: 1px solid #CCC;
    padding-top: 10px;
    padding-bottom: 10px;
}

.qanda_Category-container table {
    width: 100%;
    text-align: center;
    margin: 15px 0 15px 0;
    font-size: 0.9em;
    line-height: 2em;
}

.qanda_Category-container table tr td{
    width: 200px;
}

.qanda_Category-container.show-Category{
    display: block;
}